.kanban {
  &__modal__overle {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.604);
    backdrop-filter: blur(2px);
    cursor: pointer;
  }
  &__modal__edit-wrapper {
    position: relative;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    // opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 80px 80px;
    border-radius: 30px;
    // transform: translateY(100px);
    transition: all 0.5s ease;
  }
  &__modal__edit-show {
    display: none;
    left: -100%;
  }
  &__modal__edit-close {
    position: absolute;
    top: 10px;
    right: 22px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.604);
    transition: 1s;
  }
  &__modal__edit-from {
    display: flex;
    align-items: center;
    gap: 20px;
    input {
      padding: 8px 20px 8px 10px;
      outline: none;
      border: 1px solid #2222;
      box-shadow: 0px 05px 10px #fff;
      border-radius: 8px;
    }
    button {
      padding: 6px 20px;
      background-color: aqua;
      border: none;
      border-radius: 20px;
      font-weight: 500;
      color: #222222ba;
    }
  }
}
